{
  "$schema": "http://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "baseUrl": "src",
    "paths": {
      "@/*": ["./*"]
    }
  },
  "env": {
    "targets": {
      "node": 16
    }
  }
}
